*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: RobotoBold;
}

@font-face {
    font-family: "RobotoBold";
    src: url("Fuentes/RobotoMono-Bold.ttf");
  }



  div.Menu{
    width: 100vw;
    position: fixed;
    top: 0;
    height: 55px;
    background-color: #e5004e;
    margin-top: 0px;
    z-index: 2;
    overflow: hidden;

  }


nav {
    font-family: xd;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 55px;
    text-align: center;

}
  
nav li {
    display: inline-block;
    top:0px;
    margin-top: 0px;
    border-color: #3c68b1;
    border-top-width: 4px;
    border-right-width: 4px;
    border-left-width: 4px;
    border-bottom-width: 4px;
    border-style: solid;
    border-bottom-width: 4px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-style:unset;

    
  
}
  
nav li a {
    color: white;
    font-size: 125%;
    font-weight: bold;
    text-decoration: none;
    display: block;
    font-family: RobotoBold;
    width: 100%;
    padding-top: 10px;
    padding-left: 3vw;
    padding-right: 3vw;
    transition: 0s all;

  
    height: 55px;
}

nav li:hover, .Ventana{
    background-color: #3c68b1;
    height: 55px;
    transition: 0.5s;
    border-bottom-width: 4px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    top: 0px;
    position: relative;
}
  
.XDXD{
    height: 140%;
    margin-top: -10px;
    transform: rotate(-45deg);
    margin-left: 40px;
}


  
body{
    background: #ECF0F1;
    display: block;
}

.PrincipalRegistro{
    width: 50vw;
    float: left;
    margin-top: 55px;
    align-items: center;
    height: 50%;
    display: flex;
    background-image: url("Imagenes/Fondo.png");
    background-repeat: repeat;
    background-attachment: fixed, scroll;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;


}

.Formulario{
    align-items: center;
    align-content: center;
    display: flex;
    margin: auto;
    max-width: 75%;
    align-items: center;
    background: #e5004e;
    font-family: RobotoBold;
    padding:10px;
    border-radius: 15px;

}

.Formulario h1{
    text-align: center;
    margin: auto;


    
}

form{
    margin:auto;
    align-content: center;
    display: block;
    padding: 10px;
    background: #F2F3F4;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;


}
.Logo{
    width: 50%;
}

.Uno{
    width: 100%;
}
.Dos{
    width: 100%;

}

.Boton{
    background: #3c68b1;
    color:white;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

.Opcion{
    padding: 5px;
    border: solid;
    border-width: 5px;
    border-color: #3c68b1;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.TipoMascota{
    padding: 5px;
    border-bottom: solid;
    border-bottom-right-radius: 7px;
    border-width: 5px;
    border-color: #3c68b1;
}

label{
    margin-top: 8px;
}

input{
    margin-bottom:8px;
    border-radius: 7px;
}

.Info{
    margin: 70px;
}

.PrincipalUno{
    display: inline-flex;
}