@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="Principal">
        
        <p>Dale una vida agradable y sana a tu mascota, nuestros profesionales te atenderan</p>
        <img src="Imagenes/Pets.png" alt="" class="IMGPrincipal">

    </div>
    <div class="PrincipalDos">
        <img src="/Imagenes/Perro.jpg" alt="" class="ImagenDos">
        <h1>¿Quienes Somos?</h1>
        <p>Correspondemos a un establecimiento de veterinarios con 7 años de experiencia contribuyendo al bienestar de las mascotas.</p>
        
        
        

    </div>
    <div class="PrincipalDos">
        
        <h1 class="Margen">Asistencia médica especializada para mascotas:</h1>
        <p> Ofrecemos servicio veterinario especializado a domicilio, de acuerdo al plan requerido. <br> <br>
            + Odontología <br>
            + Dermatología <br>
            + Fisioterapia <br>
            + Traumatología <br>
            + Oncología <br>
            + Neurología <br>
            
           
        </p>
        <img src="Imagenes/Vete.jpg" alt="" class="ImagenDos">
        
        

    </div>
    